* {box-sizing: border-box;}
body{font-family: sans-serif, Verdana,Arial;margin:0;}
.top{
    background-color: #1d8097;
    position: fixed;
    width: 100%;
    top: 0;
}

.top nav a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    padding: 20px 15px;
    display: block;
    float: left;
}

.top nav .active, .top nav .btn:hover{
    background-color: red;
}

main{display: flex; justify-content: center;}

.login{
    width: 35%;
    margin-top: 100px;
    min-width: 250px;
    padding: 20px;
}

.user_imag{width:60%;height: auto;margin: 0 auto;display:block;}
.titulo{text-align: center;font-style: italic;}
.etiqueta,.textbox,.btn-enviar,.forgot{display: block;margin-bottom: 5px;}
.textbox{width: 100%;padding: 5px;}
.btn-enviar{background-color:#1d8097; color: #fff; padding: 10px;border: none;}
.btn-enviar:hover{background-color:#155d74 ; cursor: pointer;}
.forgot{text-align: right; text-decoration: none;}


.down{
    background-color: #155d74;
    position: absolute;
    width: 100%;
    bottom: 0;
    color: #fff;
    text-align: center;
}