{% extends 'layout/base_bootstrap.html'%}


{% block titulo %}
    Datos
{% endblock titulo %}
    

{% block content %}
    <h1>Datos</h1>
    <table class="table table-striped table-hover">
        <thead>
            <tr><th>ID</th><th>NAME</th><th>USERNAME</th><th>EMAIL</th><th>PHONE</th></tr>
        </thead>
        <tbody>
            {% for  dat in datos %}
                <tr><td>{{ dat.id}}</td><td>{{ dat.name }}</td><td>{{ dat.username }}</td><td> {{ dat.email }}</td><td>{{ dat.phone }}</td></tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}